#dimmer {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 200000;
    text-align: center;
    padding-top: 30%;
    background: #fff;
    box-shadow: inset 0 0 15px #767676;
}

@font-face {
    font-family: 'decorative';
    src: url('../fonts/GreatWishes.otf');
}

@font-face {
    font-family: 'poppins-reg';
    src: url('../fonts/Poppins-Thin.otf');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/Poppins-Bold.otf');
}

h1 {
    font-family: 'decorative';
    color: rgb(70, 70, 70);
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 3rem;
}

h1::before {
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-10%) rotate(-23deg);
    background-color: rgb(131, 130, 130);
    z-index: -1;
}

h1::after {
    position: absolute;
    content: '';
    width: 160px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(8deg);
    background-color: rgb(207, 50, 50);
    z-index: -1;
}

span.subtitle {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
}

p {
    font-family: 'poppins-reg';
    font-size: 1.4rem;
}

p.text-center {
    text-align: center;
}

body {
    font-family: 'poppins-reg';
    background-color: rgb(245, 245, 245);
}

.introimage {
    position: relative;
    display: block;
    width: 100%;
    height: 97vh;
    background-image: url('../img/final_export_web.jpg');
    background-size: cover;
    background-position: center center;
}

.introimage .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/header_overlay.png');
    background-size: cover;
    background-position: center center;
}

.namecenter {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform .2s ease;
    width: 100%;
    max-width: 25vw;
    min-width: 300px;
}

.w-100 {
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item {
    width: 19%;
    margin: 2px;
}

/* 2 columns */
.grid-item--width2 {
    width: 40%;
}

.slick-prev:before,
.slick-next:before {
    color: gray;
}

.slick-dots li button:before {
    font-size: 15px;
}