@font-face {
    font-family: 'poppins-reg';
    src: url('../fonts/Poppins-Regular.otf');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/Poppins-Bold.otf');
}

h1{
    font-family: 'poppins-bold';
    color: rgb(70, 70, 70);
    text-align: center;
    position: relative;
}

h1::before{
    position: absolute;
    content: '';
    width: 150px;
    height: 5px;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: gray;
}

span.subtitle{
    display: block;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

p{
    font-size: 2rem;
}

body {
    font-family: 'poppins-reg';
    background-color: rgb(245, 245, 245);
}

.introimage {
    position: relative;
    display: block;
    width: 100%;
    height: 97vh;
    background-image: url('../img/final_export_web.jpg');
    background-size: cover;
    background-position: center center;
}

.introimage .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/header_overlay.png');
    background-size: cover;
    background-position: center center;
}

.namecenter {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    transition: transform .2s ease;
    width: 100%;
    max-width: 25vw;
    min-width: 300px;
}

.w-100 {
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
}

.slick-prev:before, .slick-next:before{
    color: gray;
}
.slick-dots li button:before{
    font-size: 15px;
}